body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#output {
  margin-top: 20px;
  display:flex;
}

.country-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.country-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.country-card p {
  margin: 5px 0;
  color: #555;
}

.country-card img {
  margin-top: 10px;
  border-radius: 6px;
}
